
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
}


.product-card img {
  max-width: 100%;
  height: auto;
}


.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.product-card p {
  font-size: 0.9rem;
  margin: 5px 0;
}
